.section{
    background: rgba(22, 65, 148, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 16px;
    height: fit-content;
    width: 80%;
    position: absolute;
    bottom: -7rem;  
    left: 4rem;
    z-index: 2;
    padding: 1.5rem;
    text-align: center;
}

.section h1{
    font-family: 'Outfit';
    font-weight: 900;
    font-size: 38px;
    line-height: 116%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.section h3{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #00E4FF;
}