.section {
    height: 80vh;
    width: 80%;
    margin: 0 auto;
    background: linear-gradient(80.65deg, rgba(19, 55, 128, 0.2) 5.25%, rgba(35, 88, 193, 0.2) 100.74%);
    border-radius: 16px;
    padding: 40px 40px 80px 40px;

}

.section p{
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}


.title{
    display: flex;
    justify-content: space-between;
}

.title h1{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 116%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #00E4FF;
}

.mychart{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 300px;
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 1px solid #164092;
}

.inner_donut{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner_donut h3{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 58px;
    line-height: 100%;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: white;
}

.jogos{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 116%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}



.stats{
    display: flex;
    width: 80%;
    margin-top: 10% ;
    justify-content: space-between;
}

.victories , .draws, .defeats{
    display: block;
    border-radius: 2px;
    padding-left: 12px;
}

.victories{
    border-left: 5px solid #00E4FF;
}

.draws{
    border-left: 5px solid #164092;
}

.defeats{
    border-left: 5px solid  #CF2D2D;
}

.victories h3, .draws h3 , .defeats h3{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;

    color: #FFFFFF;
}

.victories, .draws, .defeats p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #FFFFFF;
}

/* Container right*/

.container_right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.progress{
    display: grid;
    grid-gap: 15px;
    box-sizing: border-box;
    background: linear-gradient(80.65deg, rgba(19, 55, 128, 0.2) 5.25%, rgba(35, 88, 193, 0.2) 100.74%);
    width: 70%;
    height: 80%;
    border-radius: 16px;
    padding: 46px 26px;
}

.progress h2{
    font-family: 'Outfit';
    font-weight: 900;
    font-size: 21px;
    line-height: 116%;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #CAC8DA;
}

.goals{
    display: flex;
    align-items: center;
    gap: 12px;
}

.goals h3 {
    color: white;
    font-family: 'Outfit';
    font-weight: 900;
    font-size: 38px;
    line-height: 116%;

    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.goals p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 117%;
    color: #FFFFFF;
}
