.section_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}



.container_info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    gap: 3rem;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.info h2{
    font-family: 'Outfit';
    font-weight: 900;
    font-size: 21px;
    line-height: 116%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.info h3{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #00E4FF;
}

.link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #00E4FF;
}

.links{
    display: flex;
    gap: 2.5rem;
}

.footer p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

@media screen and (max-width: 1000px) {
    .container_info {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        text-align: center;
        gap: 3rem;
    }
    
   .footer{
        margin: 0 auto;
        width: 50%;
        text-align: center;
   }

   .links{
        display: flex;
        justify-content: center;
        align-items: center;
   }    
}


@media screen and (max-width: 580px) {
    .container_info {
        gap: 1rem;
    }
    .info{
       width: 40vw;
    }

    .info h2{
        font-size: 12px;
    }

    .info h3{
        font-size: 12px;
    }
}

