.menu{
    width: 16rem;
    max-height: 30vh;
    overflow: auto;
    white-space: nowrap;
    z-index: 2;
    background: rgba(19, 22, 63);
    cursor: pointer;
    top: 4rem;
    left: -2.5rem;
    color: rgba(4, 225, 255);
}

.menu::-webkit-scrollbar{
    background: linear-gradient(80.65deg, #133780 5.25%, #2358C1 100.74%);
    width: 7px;
}

.menu::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
}

.hover{
    background-color: #164092;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 65px;
    border-radius: 32px ;
    border: 1px solid #2D6DE9;
}

.text_button{
    font-family: 'Outfit';
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    padding-right: 1rem;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #00E4FF;
}


@media screen and (max-width: 780px) {    

    .button{
        width: 160px;
        height: 40px;
    }

    .text_button{
        font-size: 32px;
    }
}
