.information_adm{
    position: relative;
}

.sectionAdm {
    margin: 0 auto;
    width: 90%;
    display: flex;
    height: 80vh;
    position: relative;
}

.container_left {
    width: 50%;
    color: white;
}

.container_right {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 2;
    gap: 2rem;
}

.title {
    font-family: 'Outfit';
    font-weight: 900;
    font-size: 38px;
    line-height: 116%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title_mobile{
    display: none;

    font-family: 'Outfit';
    font-weight: 900;
    font-size: 38px;
    line-height: 116%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}


@media screen and (max-width: 1000px) {
    .sectionAdm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 120vh;
        padding: 2rem;
    }

    
    .container_left {
        width: 60%;
        height: 50%;
        color: white;
    }

    .container_right {
        width: 80%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title{
        display: none;

    }
    .title_mobile{
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 580px) {
    .sectionAdm {
      height: 110vh;
      width: 160vw;
      margin-left: 2.5rem;
    }

   .title_mobile{
        width: 180vw;
        text-align: center;
        font-size: 16px;
   }
}

