.section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2.5rem;
}

.title{
    font-family: 'Outfit';
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #00E4FF;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

.description{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #EEEEEE;
    text-align: left;
}


.container{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 6rem;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    color: #EEEEEE;
}

@media screen and (max-width: 1000px) {    
    .title{
        display: none;
    }
    .container{
        width: fit-content;
        position: absolute;
        bottom: -20rem;
        left: -8rem;
    }

    .section{
        position: relative;
    }
}


@media screen and (max-width: 780px) {    
    
    .description{
        font-size: 12px;
    }

    .container{
        width: fit-content;
        position: absolute;
        bottom: -18rem;
        left: -8rem;
    }

    .info{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;        
        color: #FFFFFF;
    }
}

@media screen and (max-width: 580px) {    
    .container{
        width: 100%;
        bottom: -20rem;
        left: -5rem;
        gap: 3rem;
    }

    .info{
        text-align: left;
    }

}
