.menu{
    width: 16vw;
    white-space: nowrap;
    z-index: 2;
    background-color: rgb(19, 23, 64);
    color: white;
}

.hover{
    background-color: #164092;
}

.button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: inherit;
    border: 2px solid #164092;
    border-radius: 16px;
    padding: 5px 12px;

    width: 150px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}