.section{
    display: flex;
    flex-direction: column;
    gap: 8rem;
    margin-top: 10rem;
}

.title{
    text-align: center;
    color: white;
    font-family: 'Outfit';
    font-weight: 900;
    font-size: 58px;
    line-height: 100%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.squad{
    background-image: url('/assets/images/clubs/Squad/bg_linhas.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 140vh;
}

@media screen and (max-width: 580px) {  
    .section{
        width: 100vw;
        justify-content: flex-start;
        margin-left: 12rem;
        gap: 0rem;
        box-sizing: border-box;
        position: relative;
        height: 50vh;
    }
    
    .squad{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        left: -10rem;
    }

    .title{
        font-size: 16px;
    }
}

